
.text-center{
    text-align: center;
    
}

h2.text-center{
    text-align: center;
}


h2{
color: chocolate;
text-align: left;
}
.top-hero{
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px chocolate;
    backdrop-filter: blur(1.6px);
    -webkit-backdrop-filter: blur(1.6px);
    border: 1px solid rgba(255, 255, 255, 0.4);

}

header > img {
    text-align: right;
    
    transition: ease-in 1s;
    border: 5px solid chocolate;
}

header img:hover{
    border: 3px solid chocolate !important;

}

a{
    color: black;
    transition: ease-in 1s;
}
a:hover {
    color:rgb(211, 144, 44);
}
.tags span {
display: inline-block;
border: 2px solid chocolate;
padding: 5px 10px;
color: black;
border-radius: 8px;
font-size: 0.8rem;
display: inline-block;
margin: 2px;
}

.top-container{
background: url('100_1187.JPG') no-repeat 50% ;
background-size: cover;

}